@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playwrite+MX+Guides&family=Playwrite+NL+Guides&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-placeholder-color::placeholder {
    color: #5E5959;
  }

.tooltip-container {
  border: none !important; /* Remove border */
  background-color: #333; /* Adjust background color if needed */
  padding: 8px;
  border-radius: 4px; /* Optional: add rounded corners */
  color: #fff; /* Ensure text is visible */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}
.tooltip-arrow {
  display: none; /* Hide the arrow if it's causing a border */
}
